* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: lightblue;
  font-size: 30px;
}

.volver {
  background-color: lightsalmon;
  display: inline-block;
  flex-wrap: wrap;
  font-size: 20px;
  text-align: center;
  margin-left: 8px;
  border-radius: 10px;
}

.encabezado {
  background-color: rgba(85, 216, 205, 0.705);
  height: 250;
  border-radius: 15px;
  text-align: center;
  margin: 3px;
  border: solid rgba(92, 91, 91, 0.822);
}

.izq {
  background-color: red;
  display: inline-block;
  height: 400px;
  width: 750px;
  border-radius: 10px;
  margin: 3px 5px 2px;
  border: solid rgba(92, 91, 91, 0.822);
}

.der {
  background-color: green;
  display: inline-block;
  height: 400px;
  width: 500px;
  border-radius: 10px;
  border: solid rgba(92, 91, 91, 0.822);
}

.pie {
  background-color: white;
  border-radius: 5px;
  margin: 5px;
  border: solid rgba(92, 91, 91, 0.822);
}
